.btn-primary {
    background-color: lightslategray;
    border-color: black;
}
.btn-primary:hover {
    background-color: lightgray;
    border-color: black;
}
.but{
    margin-right: 50px;
}
img {
    border-radius: 8px;
}
.center{
    text-align:left;

}
.tab { margin-left: 30px; }


.navbar {
    display: inline-block;
}
navbar {
    padding-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

hr {
    color: black;
}


form {
    padding-left: 40px;
    padding-right:40px;
}

.text {
    text-decoration: none;
}


.navbar.navbar {
    padding-left:40px;
}

h2{
    margin-left: 40px;
}
.body {
    padding-left: 40px;
}

.row {
    margin-left:30px;
}

row {
    margin-left:30px;

}
.sum {
    margin-left:30px;
}

sum {
    margin-left:30px;

}
.col {
    margin-left: 40px;
}