a{
    margin-left: 50px;
}

.but{
    margin-right: 50px;
}
img {
    border-radius: 8px;
}
.center{
    text-align:center;

}
.tab { margin-left: 40px; }

.col {
    text-align: center;
}