.btn-primary {
    background-color: lightslategray;
    border-color: black;
}
.btn-primary:hover {
    background-color: lightgray;
    border-color: black;
}
.but{
    margin-right: 50px;
}
img {
    border-radius: 8px;
}
.center{
    text-align:left;

}
.tab { margin-left: 30px; }


.navbar {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

hr {
    color: black;
}




.text {
    text-decoration: none;
}




.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}
.dropdown-toggle::after {
    transition: transform 0.15s linear;
}
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}
.input-group-search {
    width: 100% !important;
}
@media(min-width:576px) {
    .navbar-expand-sm .input-group-search {
        width: 100% !important;
    }
}
@media(min-width:768px) {
    .navbar-expand-md .input-group-search {
        width: 90% !important;
    }
}
@media(min-width:992px) {
    .navbar-expand-lg .input-group-search {
        width: 80% !important;
    }

}
@media(min-width:1200px) {
    .navbar-expand-xl .input-group-search {
        width: 70% !important;
    }
}